.DS_Store

tmp.*

.env
.env.*
!.env.example

.spotify_token.json

bin/
spotify-download/

.idea/*
!.idea/vcs.xml
!.idea/sqldialects.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/externalDependencies.xml
